*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.welcome{

  min-height:3vh;
  min-width: 20vh;
  background:#6786a6 ;
  display:flex;
  border-radius:1rem;
  

}
.linkteach{

  /* background:#00030c; */
  height:5vh;
  width:5vh;
}
.linkteach{

  /* background:#00030c; */
  height:5vh;
  width:100%;
  font-size:0.5rem;
  display:flex;
  justify-content:center;
  margin-top:10px;
  align-items:bottom;

}
.tech{
  color:rgb(11, 40, 48);


}



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}

.QR100{
justify-content: center;
}

/* .wrap-QR100 {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px 55px;
  justify-content: center;
  /* background: #c9d4f1;
  background: -webkit-linear-gradient(top, #00030c, #c9d4f1);
  background: -o-linear-gradient(top, #c9d4f1, #c9d4f1);
  background: -moz-linear-gradient(top, #c9d4f1, #c9d4f1);
  background: linear-gradient(top, #c9d4f1, #c9d4f1); 
} 




/*     css for qr starts here*/

body{
  /* background-color: #f3f3f8; */
  font-family: 'Work Sans', sans-serif;
}

.nav-class{
  background-image:linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}

.box{

  padding-left: 50px;
  /* background-color:rgb(141, 129, 168); */
  /* background-image: linear-gradient(to top, #0e0107 0%, #032d41 100%); */
}
.container-fluid{
  width: 600px;
  height: 650px;
  border-top: 50px;
    
  border-radius: 10px;
  overflow: hidden;
  padding: 5px 50px 50px 50px;
  background:rgb(66, 18, 42);
  opacity: 0.7;
  color:white;

  /* background: #E69A8DFF;
  background: -webkit-linear-gradient(top, rgb(243, 221, 217), #E69A8DFF);
  /* background: -o-linear-gradient(top, #c077f1, #b224ef);
  background: -moz-linear-gradient(top, #7579ff, #c19cd1); */
/*background: linear-gradient(top, #b126aa, #8b0479); */
}

/* .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 90px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  z-index: 99;
  background-color: #0e0c28;
} */

@media (max-width: 767.98px) {
  .sidebar {
      top: 11.5rem;
      padding: 0;
  }
}
  
.navbar {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
  background-color: white;
}

.navbar-brand{
  font-size: 30px;
}

.navButton{
  background-color: #0e0c28;
  color: white;
}

@media (min-width: 767.98px) {
  .navbar {
      top: 0;
      position: sticky;
      z-index: 999;
  }
  .col{
      display: flex;
      justify-content: left;
  }
}

.sidebar .nav-link {
  color: #7a80b4;
}

.sidebar .nav-link.active {
  color: white;
}

.form-group label{
  padding-right: 2rem;
}

/* .form-group .col{
  padding-left: 2rem;
} */


.generateButton{
  justify-content: center;
  margin-top: 0.5rem;
}

.main-form, .qrDiv{
  margin-top: 30px;
}

.qrDiv{
  display: flex;
  justify-content: center;
}

.col-form-labe{
  background-color: rgba(0, 0, 0, .1);
}


/*css for qr ends here*/
/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}
/* //////////////////////////////////////////////////////*/
nav{
  display: flex;
  justify-content: space-around;
  align-items:center;
  min-height: 10vh;
  background-color:#2b4794;
  opacity: 0.9;
  top:0;
  
}
.logo-for-attendance{
  color:rgb(241, 236, 236);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
  margin-top: 8px;
}
/* .logo-for-attendance{
  color:rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
} */
.nav-links{
display: flex;
justify-content: space-around;
width:40%;
}

.nav-links a{
  color:rgb(226, 226, 226);
  letter-spacing: 3px;
  letter-spacing: 5px;
  text-decoration: none;
}
.burger{
  display: none;
}
.burger div{
  width: 25px;
  height:2px ;
  background-color: rgb(226,226,226);
  margin:5px ;
  transition: all 0.3s ease;
 
}
@media screen and (max-width:1024px){
 
    .nav-links{
  
      width:60%;
      }
  
}
@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: fixed;
    right:0px;
    height: 92vh;
    top:8vh;
    background-color:#2b4794 ;
    display:flex;
    flex-direction: column;
    align-items: center;
    transform: translate(100%);
    transition:transform 0.5s ease-in ;
  }
  .nav-active li{
    opacity: 0;
  }
  .burger{
    display:block;
    cursor: pointer;
  }
}
.nav-active{
  transform:translateX(0%) ;
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}
/*///////////////////////////*/

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	/* font-size: 19px; */
  font-size: 19px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #fff;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

/* p{
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
} */

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/


textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #fff;}
input:-moz-placeholder { color: #fff;}
input::-moz-placeholder { color: #fff;}
input:-ms-input-placeholder { color: #fff;}

textarea::-webkit-input-placeholder { color: #fff;}
textarea:-moz-placeholder { color: #fff;}
textarea::-moz-placeholder { color: #fff;}
textarea:-ms-input-placeholder { color: #fff;}

label {
  margin: 0;
  display: block;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #e5e5e5;
  line-height: 1.5;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;  
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.1);
}

.wrap-login100 {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px 55px;
  background: #126983;
  /* background:  #50c1e3; */
  /* background: -webkit-linear-gradient(top, #7194f5, #b224ef);
  background: -o-linear-gradient(top, #c077f1, #b224ef);
  background: -moz-linear-gradient(top, #7579ff, #c19cd1);
  background: linear-gradient(top, #b126aa, #8b0479); */
}



/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-logo {
  font-size: 60px; 
  color: #333333;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}

.login100-form-title {
  font-family: Poppins-Medium;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  display: block;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(255,255,255,0.24);
  margin-bottom: 30px;
}

/* .input100 {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 38px;
  border-width:0px  !important;
  border-style: none !important;
} */
.input100 {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 38px;
  /* border-width:1px  !important; */
  /* border-style: none !important;
  /* border:0px;
  border-radius: 1rem; */
}
/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  border-width:0px  !important;
  border-style: none !important;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  border-width:0px  !important;
  border-style: none !important;

  /* -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; */

  /* background: #fff; */
}

.focus-input100::after {
  font-family: Material-Design-Iconic-Font;
  font-size: 22px;
  color: #fff;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 6px;
  left: 0px;
  padding-left: 5px;
  border-width:0px  !important;
  border-style: none !important;
  /* -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; */
}


.input100:focus {
  padding-left:45px;
  border-style: 0px;
}

  .input100:focus + .focus-input100::after {
    /* top: -22px; */
    /* font-size: 18px; */
    border-style: 0px;
  }
  
  .input100:focus + .focus-input100::before {
    width: 100%;
    border-style: 0px;
  }
  
  .has-val.input100 + .focus-input100::after {
    /* top: -22px; */
    /* font-size: 18px; */
    border-style: 0px;
  }
  
  .has-val.input100 + .focus-input100::before {
    width: 100%;
    border-style: 0px;
  }
  
  .has-val.input100 {
    padding-left: 45px;
    border-style: 0px;
  }

/*==================================================================
[ Restyle Checkbox ]*/

.contact100-form-checkbox {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 35px;
}

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #fff;
  line-height: 1.2;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: #fff;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #555555;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #555555;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;

  background: #35072d;
  /* background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
  background: -o-linear-gradient(bottom, #7579ff, #b224ef);
  background: -moz-linear-gradient(bottom, #7579ff, #b224ef);
  background: linear-gradient(bottom, #7579ff, #b224ef); */
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #fff;
  top: 0;
  left: 0;
  opacity: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  color: #fff;
}

.login100-form-btn:hover:before {
  opacity: 0;
}


/*------------------------------------------------------------------
[ Responsive ]*/

 @media (max-width: 576px) {
  .wrap-login100 {
    padding: 55px 15px 37px 15px;
  }
} 



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

/* @media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
} */



