*{

margin: 0px;
padding:0px;
box-sizing: border-box;

}

nav{
    display: flex;
    justify-content: space-around;
    align-items:center;
    min-height: 10vh;
    background-color:#2b4794;
    opacity: 0.9;
    top:0;
    
  }


  .logo-for-attendance{
    color:rgb(241, 236, 236);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    margin-top: 8px;
  }
  .nav-links{
  display: flex;
  justify-content: space-around;
  width:60%;
  }
  
  .nav-links a{
    color:rgb(226, 226, 226);
    letter-spacing: 2px;
    font-size: 18px;
    letter-spacing: 5px;
    text-decoration: none;
  }
  .nav-links a:hover {
    color: white;
     

  }
  .burger{
    display: none;
  }
  .burger div{
    width: 25px;
    height:2px ;
    background-color: rgb(226,226,226);
    margin:5px ;
    transition: all 0.3s ease;
   
  }
  @media screen and (max-width:1024px){
   
      .nav-links{
    
        width:60%;
        }
    
  }
  @media screen and (max-width:768px){
    body{
      overflow-x: hidden;
    }
    .nav-links{
      position: fixed;
      right:0px;
      height: 92vh;
      top:8vh;
      background-color:#2b4794 ;
      display:flex;
      flex-direction: column;
      align-items: center;
      transform: translate(100%);
      transition:transform 0.5s ease-in ;
    }
    
    .nav-active li{
      opacity: 0;
    }
    .burger{
      display:block;
      cursor: pointer;
    }
  }
  .nav-active{
    transform:translateX(0%) ;
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle .line2 {
    opacity: 0;
  }
  
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  @keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
  }