body{
    /* background-image: url(./images/bg3.jpg); */
   /* background-repeat: no-repeat;
   background-size: contain; */
   background: linear-gradient(180deg,rgb(87, 23, 78),rgb(26, 7, 58));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(255, 255, 255);
}

.main-container{
    
    min-height: 100vh;
    min-width:100vh;
    
    
}

.sub-container{
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    flex-direction: column;
}

input{
    
   
    font-family: Poppins;
    color:rgb(0, 0, 0);
    margin-top: 30px;
    margin-left: 515px;
    margin-bottom: 10px;
    width:500px;
    height:40px;
    background-color: #fffeff;
    border-radius:1rem;
    border:0;
    padding-left:20px;
}

.input-moodle {
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    
    opacity: 0.8;
    font-size: 1.3rem;

}
.input-moodle:focus{
    border: none;
    background-color: rgb(244, 248, 248);


}
input::placeholder{
    color:black;
}
button{

background-color:aliceblue;
width:200px;
height:40px;
border-radius: 2rem;
margin-top:10px;
font-size: 20px;
font-family: Poppins;


}
button:hover{
    background-color:rgb(49, 5, 27)
    
}